<footer class="footer bg-dark-custom text-light py-4 mt-auto">
        <div class="container d-flex flex-column flex-sm-row justify-content-between align-items-center">
            <div class="mb-2 mb-sm-0">
                <p>Contact : <a class="text-light text-decoration-none contact-email" href="contact.php">support@ecoride.fr</a></p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <a href="" class="text-light text-decoration-none"><small class="legal-text">Mentions légales</small></a>
                <small>© 2025 EcoRide. Tous droits réservés.</small>
            </div>
            <div class="social-icons">
                <a href="#" class="text-light text-decoration-none mx-2" aria-label="Facebook">
                    <i class="bi bi-facebook icon-social"></i>
                </a>
                <a href="#" class="text-light text-decoration-none mx-2" aria-label="Instagram">
                    <i class="bi bi-instagram icon-social"></i>
                </a>
                <a href="#" class="text-light text-decoration-none mx-2" aria-label="TikTok">
                    <i class="bi bi-tiktok icon-social"></i>
                </a>
                <a href="#" class="text-light text-decoration-none mx-2" aria-label="YouTube">
                    <i class="bi bi-youtube icon-social"></i>
                </a>
            </div>
        </div>
    </footer>